@page "/settings"
@attribute [Authorize]
@using BlazingChat.Shared
@inject ISettingsVM _settings


<h2><b>Settings</b></h2> 
<hr />

<div class="col-12">
    <MudToggleIconButton @bind-Toggled="@_settings.Notifications"
                     Icon="@Icons.Material.Filled.ToggleOff" Color="@Color.Error" Title="Activar notificaciones"
                     ToggledIcon="@Icons.Material.Filled.ToggleOn" ToggledColor="@Color.Success" ToggledTitle="Desactivar notificaciones"/>
    <label class="ml-0">Notificaciones</label> 
    <br>
    <MudToggleIconButton Class="mr-0" @bind-Toggled="@_settings.DarkTheme"
                     Icon="@Icons.Material.Filled.DarkMode" Color="@Color.Dark" Title="Off"
                     ToggledIcon="@Icons.Material.Filled.WbSunny" ToggledColor="@Color.Warning" ToggledTitle="Modo oscuro"/>
    <label class="ml-0">Dark Theme</label>    
    <br>
</div>
<div class="col-12">
    <button class="btn btn-primary" @onclick="_settings.Save">Save</button>
</div>

@code {
    public bool AlarmOn { get; set; }

    public string ToggleIcon { get => AlarmOn ? "Icons.Material.Filled.ToggleOff" : "@Icons.Material.Filled.ToggleOn";  } 
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync() => await _settings.GetSettings();
}
